@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Eagle Eye</h1>
    <p class="lead">Eagle Eye is a system designed to detect and report changes in parking space availability</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mission</h2>
        <p>
            Make parking lots great again
        </p>
        <p><a class="btn btn-default" href="https://trello.com/b/qm76cjbC/parking">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Team</h2>
        <p>We try our best</p>
        <p><a class="btn btn-default" href="https://trello.com/b/qm76cjbC/parking">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Product</h2>
        <p>It will do all the things</p>
        <p><a class="btn btn-default" href="https://trello.com/b/qm76cjbC/parking">Learn more &raquo;</a></p>
    </div>
</div>