body {
	user-select:none;
}
#viewport {
	position:relative;
}
#baseline, #editor {
	position:absolute;
}


	#baseline {
		border-radius: 0 0 12px 12px;
	}

#editor {
    border-radius: 12px;
}
.back {
	margin-top: 16px;
}