body {
	user-select:none;
}
#viewport {
	width: 700px;
	height: 400px;
	position:relative;
}
#baseline {
	width: 100%;
	height:100%;
	position: absolute;
	top:0px;
	left:0px;
}
#editor {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}