@model EagleEye.Views.ParkingLot.ParkingLot
@{
	Layout = "~/Views/ParkingLot/_ParkingLot.cshtml";
}
@section Buttons {
<div class="panel panel-default">
	<div class="panel-heading flex-row justify-between">
		<span>Edit</span>
		<button class="btn btn-primary" onclick="editor.save()">Save</button>
	</div>
	<div class=" btn-group-vertical max-width">

		<button class="btn btn-default" onclick="editor.newSpace()">New Parking Space</button>
		<button class="btn btn-default" onclick="editor.newIsle()">New Aisle</button>
		<button class="btn btn-default" onclick="editor.newConstant()">New Constant</button>
		<button class="btn btn-default" onclick="updateBaseline()">Update Baseline</button>
	</div>
</div>

}
@section scripts {
	<script>
		let editor = null;
		$.ajax({
			url: '/ParkingLot/Get',
			data: { id:@Model.ID}
		}).done(lot => {
			// Convert annotation points into Vector2 instances
			lot.Annotations.forEach(a => {
				let points = a.Points;
				a.Points = [];
				points.forEach(p => {
					a.Points.push(new Vector2(p.X, p.Y));
				})
			})

			editor = new AnnotationEditor(lot, annotations);
			editor.tick();
		});
	</script>
}

