@model EagleEye.Views.ParkingLot.ParkingLot
@{
	Layout = "~/Views/ParkingLot/_ParkingLot.cshtml";
}
@section Styles {
	
}
@section Buttons {

}
<div id="viewport">
	<img id="baseline" />
	<canvas id="editor"/>
</div>