@model EagleEye.Views.ParkingLot.ParkingLot
@{
	Layout = "~/Views/ParkingLot/_ParkingLot.cshtml";
}
@section Buttons {
<div class="panel panel-default">
	<div class="panel-heading">Edit</div>
	<div class="panel-body">
		<div class="btn-group-vertical max-width">
			<button class="btn btn-primary" onclick="editor.save()">Save</button>
			<button class="btn btn-default" onclick="editor.newSpace()">New Parking Space</button>
			<button class="btn btn-default" onclick="editor.newIsle()">New Isle</button>
			<button class="btn btn-default" onclick="updateBaseline()">Update Baseline</button>
		</div>
	</div>
</div>

}
@section scripts {
	
}
<div id="viewport">
	<img id="baseline" />
	<canvas id="editor" />
</div>
