@model List<EagleEye.Views.ParkingLot.ParkingLot>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
	<script>
		function deleteLot(id) {
			$.ajax({
				url: '/ParkingLot/Delete',
				data: {
					id: id
				}
			}).done(() => {
				location.reload();
			});
		}
	</script>
}
<h1>Parking Lots</h1>
<a class="btn btn-default btn-lg" href="/ParkingLot/New">
	<span class="glyphicon glyphicon-plus"></span> Create
</a>
<hr />
<div class="panel-group">

	@foreach (var lot in Model)
	{
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>
					@Html.ActionLink("View", "Monitor", new { id = lot.ID }, new { @class = "btn btn-info btn-lg" })
					@lot.Name
				</h2>
			</div>
			<div class="panel-body">
				<div class="flex-row justify-between max-width">
					@Html.ActionLink("Edit", "Edit", new { id = lot.ID }, new { @class = "btn btn-default" })
					
					<button class="btn btn-danger" onclick="deleteLot(@lot.ID)">Delete</button>
				</div>
			</div>
		</div>
	}
</div>
