@model EagleEye.Views.User.User
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="w3-container w3-black">
	<h1><b>Welcome to EagleEye Parking!</b></h1>
	<h2><b>Choose a User</b></h2>
</header>
<div class="panel">
	@using (Html.BeginForm("Login", "User", FormMethod.Post, new { @style = "display:inline-block" }))
	{
		<input class="hidden" name="AccessLevel" value = "Administrator" />
		<button type="submit" class="btn btn-danger" name="AccessLevel">Admin</button>
	}
	@using (Html.BeginForm("Login", "User", FormMethod.Post, new { @style = "display:inline-block" }))
	{
		<input class="hidden" name="AccessLevel" value="User" />
		<button type="submit" class="btn btn-warning" name="AccessLevel">Default</button>
	}
</div>