@model EagleEye.Views.User.User
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "" }))
{
	@Html.EnumDropDownListFor(m => m.AccessLevel)
	<button type="submit">Login</button>
}