@{
    ViewBag.Title = "Remove Lot";
}
<style>
    input {
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        padding-right: 5px;
    }

    select {
        display: block;
        margin: 0px auto;
    }

    button {
        display: block;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
    }

    img {
        display: block;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -50px;
    }

    h2, h3 {
        text-align: center;
        padding: 15px;
    }
</style>
@section scripts {
    <script>
	var menu = document.getElementById("dropdown");
	menu.addEventListener("change", setImage)
	function setImage(event)
	{
		if(menu.value == '1')
		{
			let img = document.getElementById('lot');
			$.ajax({
				url: '/ParkingLot/Baseline',
				data: {id:0}
			}).done(data => {
				img.src = `data:image/png;base64, ${data}`;
			});
		}
		let hd = document.getElementById('message');
		hd.innerText = "";
		var btn = document.getElementById('removeBtn');
		btn.style.display="block";


	}
    </script>
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <div id="container-fluid">
        <img class="img-responsive" id="lot" />
    </div>

    <h3 id="message">@ViewBag.Message</h3>
    <div class="container">
        <button type="button" id="removeBtn" style="display:none">Delete Lot</button>
    </div>
    <select id="dropdown">
        <option value="0">Choose a Lot</option>
        <option value="1">Lot 1</option>
        <option value="2">Lot 2</option>
    </select>
</div>