@{ 
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-danger" style="margin-top:16px;">
	<div class="panel-heading">
		<h1>Error</h1>
	</div>
	<div class="panel-body">
		<p>oops! Your request could not be handled</p>
	</div>
</div>
