
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
@Styles.render("~/Content/camerastyling")
}

@section scripts{
    @Scripts.Render("~/bundles/camera");
}
<div class="container">
    <label> <b>Camera Name: </b></label>
    <input type="text" id="textBox"/>
    <button id="btn"> <b>Start Camera</b> </button>
    <video id="vid" width="400" height="300" autoplay></video>
</div>


