
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    @Scripts.Render("~/bundles/camera");
}
<div class="booth">
    <video id="vid" width="400" height="300" autoplay></video>

</div>


