
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    @Scripts.Render("~/bundles/camera");
}
<div class="container">
    <label> Camera Name: </label>
    <input type="text" id="textBox"/>
    <button id="btn"> Start Camera </button>
    <video id="vid" width="400" height="300" autoplay></video>
</div>


