@model List<EagleEye.Views.Camera.Camera>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
	<script>
		function deleteCamera(id) {
			$.ajax({
				url: '/Camera/Delete',
				data: {
					id: id
				}
			}).done(() => {
				location.reload();
			});
		}
	</script>
}
<h1  class="text-center">Cameras</h1>
<a class="btn btn-default btn-lg" href="/Camera/Client">
	<span class="glyphicon glyphicon-plus"></span> Setup
</a>
<hr />
<div class="panel-group">

	@foreach (var camera in Model)
	{
		<div class="panel panel-default">
			<div class="panel-heading">@camera.Name</div>
			<div class="panel-body">
				<div class="flex-row justify-between max-width">
					<button class="btn btn-danger" onclick="deleteCamera(@camera.ID)">Delete</button>
				</div>
			</div>
		</div>
	}
</div>
