@model List<EagleEye.Views.Camera.Camera>
<select class="form-control" name="cameras" onchange="cameraSelected(this.value)">
	@foreach (var camera in Model)
	{
		<option value="@camera.ID">@camera.Name</option>
	}
</select>
@if (ViewBag.SelectedCamera >= 0)
{
<script>

	document.querySelector("select[name='cameras']").value = @ViewBag.SelectedCamera;
	
</script>
}